.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 6rem;
  padding: 0 5rem;
  background-color: var(--white);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;

  img {
    height: 5rem;
    width: auto;
  }

  &.hide {
    transform: translateY(-100%);
  }

  &.show {
    transform: translateY(0);
  }
}

.menu-items {
  a {
    color: var(--black);
    text-decoration: none;
    font-family: "Montserrat";
    margin-right: 1rem;
    font-weight: 600;
    line-height: 28px;
    font-size: 16px;
    letter-spacing: 0.2px;
    transition: color 0.3s ease-in-out;
    margin-right: 5rem;
    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.menu {
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.active {
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  .header {
    img {
      display: flex;
      margin-left: -3rem;
    }
  }
}
